// Fuentes
$fuente-principal: "Montserrat", sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;
$xl_desktop: 1200px;

// Colores
$azul-500: #237ed4;
$azul-600: #1359a4;
$azul-700: #124e92;
$azul-100: #e3edfb;
$azul-400: #4a9ae6;

$negro: #1a1b15;
$blanco: #ffffff;
$gris: #4a4a4a;
$gris-claro: #f8fafc;
$gris-oscuro: #1e293b;
$morado: #3400b7;
$rojo: rgb(169, 0, 0);
$verde: #25d366;

// Fuentes
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900;
